*{  /*tất cả thẻ của html*/
    padding:0;
    margin:0;
    font-family:"Roboto",sans-serif;
}
.container
{
    width:1359px;
    margin: 0 auto;
}
header
{
  width:1349px;
  height:129px;
  background:rgb(8, 7, 13);
}
header img
{
 padding-left:400px;
}
nav
{
    width:1349px;
    height:45px;
    background:#CDA801;
}
nav .menu ul 
{
    list-style: none;
    
}
nav .menu ul li
{
  float: left;
  line-height:40px;
  padding: 0 15px;
  padding-left:68px;
}
nav .menu ul li a
{
    color: #000000;
    font-size: 19px;
    text-decoration: none;
}
nav .search
{
    line-height: 35px;
    float:right;
    margin-right:25px;
    margin-top: -40px;
}
p
{
    color: rgb(17, 0, 255);
    font-size: 40px;
}